/**
 * Created by max1m on 29.01.21.
 */

.fileName {
    margin-bottom: 3%;
    margin-left: 5%;
}
.createBottom {
    margin-left: 4%;
}
.uploader {
    margin-left: 2%;
    font-size: 120%;
}
.attachmentZip {
    margin-top: 15%;
    margin-left: 3%;
}